<h3 class="bg-primary p-1 text-white">{{getName()}}'s ToDo List</h3>
<div class="my-1">
    <input type="text" class="form-control" #todoText>
    <button class="btn btn-primary mt-1" (click)="addItem(todoText.value)">Add</button>
</div>
<table class="table-striped table-bordered">
    <thead>
        <tr><th></th><th>Description</th><th>Done</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getTodoItems(); let i = index">
            <td>{{i + 1}}</td>
            <td>{{ item.action }}</td>
            <td><input type="checkbox" [(ngModel)]="item.done"></td>
            <td [ngSwitch] = "item.done">
                <span *ngSwitchCase= "true">Yes</span>
                <span *ngSwitchDefault>No</span>
            </td>
        </tr>
    </tbody>
</table>